<div class="container">
  <p class="title">Courses We Offer</p>
  <table class="course-table">
    <caption></caption>
    <thead>
    <tr>
      <th>Course Code</th>
      <th>Course Name</th>
      <th>Duration</th>
      <th>Teacher</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let course of courseDetailList">
      <td>{{course.courseId}}</td>
      <td>{{course.courseName}}</td>
      <td>{{course.courseDuration}}</td>
      <td>{{course.teacherName}}</td>
    </tr>
    </tbody>
  </table>
</div>

