.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #008080;
    color: white;
}

.navbar__logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
}

.navbar__links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar__links li:not(:last-child) {
    margin-right: 1rem;
}

.navbar__links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: opacity 0.2s ease-in-out;
}

.navbar__links a:hover {
    opacity: 0.8;
}
