.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.title {
  font-size: 48px; /* Adjust the font size as needed */
  font-weight: bold;
  color: #ff0000; /* Red color for the title */
}
